.carousel-root,
.carousel-slider,
.carousel-root .carousel-slider div,
.carousel-root img,
.carousel-root ul,
.carousel-root li {
    height: 100%!important;
    border-radius: 15px;
}



.thumbs-wrapper .thumb {
    width: 200px!important;
    max-height: 20vh;
}
.thumbs-wrapper div,
.thumbs-wrapper img {
    width: 100%!important;
}

.thumbs-wrapper .thumb {
    border-radius: 15px;
}

.thumbs-wrapper .thumb.selected {
    border: 2px solid rgb(182, 30, 101)!important;
}