img {
  width: 100%;
  max-height: 100%;
}
u:hover {
  cursor: pointer;
}

.hover-pointer:hover {
  cursor: pointer;
}

/* Input tag */
.rti--tag {
  background-color: rgba(21, 113, 232, 0.61)!important;
  padding: 2px 5px!important;
  color: white;
  font-weight: bold;
  border-radius: 3px!important;
  margin: 1px;
}
.rti--tag button {
  color: rgb(206, 95, 95);
  margin-left: 3px;
}

.rti--input {
  font-size: 14px;
  border-color: #ebedf2;
  padding: 0.6rem 1rem;
  height: inherit !important;
  display: block;
  width: 100%!important;
  height: calc(2.25rem + 2px)!important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da!important;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}